/*@font-face {
    font-family:NahidFont;
    src:url(../fonts/iranyekan.eot) format("embedded-opentype"),url(../fonts/iranyekan.woff2) format("woff2"),url(../fonts/iranyekan.woff) format("woff"),url(../fonts/iranyekan.ttf) format("truetype");
    font-weight:300;
    font-style:normal
}*/

/*@font-face {
	font-family: 'NahidFont';
	src: url('../fonts/bmitra/BMitra.eot?#') format('eot'),
	url('../fonts/bmitra/BMitra.ttf') format('truetype'),
	url('../fonts/bmitra/BMitra.woff') format('woff');
	font-weight:300;
	font-style:normal
}*/

@font-face {
	font-family: NahidFont;
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.eot');
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.woff2') format('woff2'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.woff') format('woff'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: NahidFont;
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.eot');
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.woff2') format('woff2'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.woff') format('woff'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: NahidFont;
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.eot');
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.woff2') format('woff2'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.woff') format('woff'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Light.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: NahidFont;
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.eot');
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.woff2') format('woff2'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.woff') format('woff'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: NahidFont;
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.eot');
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.woff2') format('woff2'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.woff') format('woff'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Thin.ttf') format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: NahidFont;
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.eot');
	src: url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.woff2') format('woff2'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.woff') format('woff'),
	url('https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/Vazir-Black.ttf') format('truetype');
	font-weight: 900;
}

/* Pargar Request */
.hide_by_customer_request {
	display: none!important;
}

/*
#####################################
## Eslahate W3 baraye zabane Farsi ##
#####################################
*/
.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
	float: right;
}

/*
######################
## Browser Defaults ##
######################
*/
html, body {
	height: 100%
}

body, h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-family: NahidFont;
}

body {
	background-color: rgb(56 56 56);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px){
	body {
		background: rgb(56 56 56);
		background: -moz-radial-gradient(circle, rgba(135,135,135,1) 0%, rgba(42,42,41,1) 100%);
		background: -webkit-radial-gradient(circle, rgba(135,135,135,1) 0%, rgba(42,42,41,1) 100%);
		background: radial-gradient(circle, rgba(135,135,135,1) 0%, rgba(42,42,41,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878787",endColorstr="#2a2a29",GradientType=1);
		background-attachment: fixed;
	}
}

/*.fix_scroll_direction {
	direction: ltr;
}

.default_dir {
	direction: rtl;
}

body.overflow_hide {
	overflow: hidden;
}*/

body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

#overlay_for_sidebars {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0;
	z-index: 100;
}

.sidebar_holder {
	transition: top 0.5s, bottom 0.5s, left 0.5s, right 0.5s;
	z-index: 101;
}

.w3-bar .w3-bar-item {
	padding: 8px 8px!important;
}


.comparison_table th{
	width: 150px;
}

.comparison_table button{
	width: 100%;
}

.comparison_table img{
	border-radius: 3px;
	border: solid 1px #000000;
	margin-bottom: 5px;
}

.aparat {
	height: 23px;
	margin-bottom: 12px;
}

.pointer {
	cursor: pointer;
}

.margin{
	margin:0.5rem;
}
.margin-top{
	margin-top: 0.5rem;
}

.margin-bottom{
	margin-bottom: 0.5rem;
}

.margin-right{
	margin-right: 0.5rem;
}

.margin-left{
	margin-left: 0.5rem;
}

/*
####################
## Our Suggestion ##
####################
*/
/*.swiper-container {
		width: 100%;
		height: auto;
	}*/

.our_suggestion_pargar .swiper-slide {
	text-align: center;
}

.our_suggestion_pargar .swiper-button-prev,
.our_suggestion_pargar .swiper-button-next {
	position: static;
	margin-top: 10px;
	background-size: contain;
	width: 25px;
	height: 25px;
	display: inline-block;
}

.our_suggestion_pargar .swiper-button-prev {
	background-image: url("../images/icons/pargar_left_arrow.png");
}

.our_suggestion_pargar .swiper-button-next {
	background-image: url("../images/icons/pargar_right_arrow.png");
}

.our_suggestion_pargar {
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.our_suggestion_pargar .product_img {
	height: 50vh;
	/*max-width: 30vh;
	max-height: 50vh;*/
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	.our_suggestion_pargar .product_img {
		height: auto;
		width: 50vw;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px){

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

.our_suggestion_pargar .details_holder {
	text-align: right;
	color: #b0b0b0;

	position: absolute;
	right: 110%;
	min-width: 100%;
	top: 0;
	min-height: 100%;
}

.our_suggestion_pargar .top_bar {
	position: absolute;
	top: 0;
	color: #ffffff;
}

.our_suggestion_pargar .details {
	position: absolute;
	bottom: 0;
}

.our_suggestion_pargar .top_bar,
.our_suggestion_pargar .details .custom_attribute {
	opacity: 0;
	transition-delay: 1s;
	transition-property: opacity;
	transition-duration: 1s;
}

.our_suggestion_pargar .swiper-slide:hover .top_bar {
	transition-delay: 0s;
	opacity: 1;
}

.our_suggestion_pargar .swiper-slide-active .details .custom_attribute.attr_1 {
	opacity: 1;
	/*animation: change_opacity 1s linear 1s 1 normal forwards;*/
}

.our_suggestion_pargar .swiper-slide-active .details .custom_attribute.attr_2 {
	transition-delay: 1.5s;
	opacity: 1;
	/*animation: change_opacity 1s linear 1.5s 1 normal forwards;*/
}

.our_suggestion_pargar .swiper-slide-active .details .custom_attribute.attr_3 {
	transition-delay: 2s;
	opacity: 1;
	/*animation: change_opacity 1s linear 2s 1 normal forwards;*/
}

.our_suggestion_pargar .swiper-slide-active .details .custom_attribute.attr_4 {
	transition-delay: 2.5s;
	opacity: 1;
	/*animation: change_opacity 1s linear 2.5s 1 normal forwards;*/
}

.our_suggestion_pargar .swiper-slide-active .details .custom_attribute.attr_5 {
	transition-delay: 3s;
	opacity: 1;
	/*animation: change_opacity 1s linear 3s 1 normal forwards;*/
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	/*.our_suggestion_pargar {
		padding-top: 5vh;
	}*/

	.our_suggestion_pargar .details_holder {
		position: static;
		width: 50vw;
	}

	.our_suggestion_pargar .top_bar {
		position: relative;
		opacity: 1;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.our_suggestion_pargar .details {
		position: relative;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px){

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* The animation code */
@keyframes change_opacity {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

.our_suggestion_pargar .swiper-slide .top_bar i {
	cursor: pointer;
	padding: 5px;
}

.our_suggestion_pargar .swiper-slide .top_bar i:hover {
	color: #dbdbdb;
}

/*
##########################
## Pargar side toolbars ##
##########################
*/
#side_toolbars {
	color: #b9b9b9;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	width: 65px;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

#side_toolbars .logo img {
	width: 100%;
}

#side_toolbars .enamad img {
	width: 25px;
}

#side_toolbars .logo,
#side_toolbars .enamad,
#side_toolbars .open_menu_btn,
#side_toolbars .shopping_cart,
#side_toolbars .social_media_icon {
	margin-bottom: 15px;
	cursor: pointer;
}

#side_toolbars .open_menu_btn:hover,
#side_toolbars .shopping_cart:hover,
#side_toolbars .social_media_icon:hover {
	color: #dbdbdb;
}

#side_toolbars .shopping_cart #how_many_itmes_is_in_cart_menu_counter span {
	display: inline-block;
	background-color: #b9b9b9;
	color: #2d2d2c;
	border-radius: 50%;
	width: 18px;
	font-size: 12px;
	line-height: 19px;
	height: 18px;
	margin-bottom: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#side_toolbars {
		width: 30px;
		right: -6px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px){

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/*
######################
## main_menu_holder ##
######################
*/
#main_menu_holder, #shopping_cart_holder {
	position: fixed;
	height: 100%;
	background-color: #252525;
	border-left: solid 1px #2c2c2b;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	top: 0px;
	left: 110%;
	color: #b9b9b9;
	overflow-y: auto;
}

#main_menu_holder {
	width: 20%;
	font-size: 16px;
	line-height: 22px;
	padding: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#main_menu_holder {
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px){
	#main_menu_holder {
		width: 40%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#main_menu_holder {
		width: 20%;
	}
}

#main_menu_holder .close_btn {
	position: absolute;
	top: 4px;
	left: 6px;
	font-size: 18px;
	line-height: 18px;
	cursor: pointer;
}

#main_menu_holder .close_btn:hover {
	color: #dbdbdb;
}

/*
##########################
## shopping_cart_holder ##
##########################
*/
#shopping_cart_holder {
	/*width: 50%;*/
	font-size: 16px;
	line-height: 16px;
	padding: 30px;
	min-width: 480px;
}

#shopping_cart_holder .close_btn {
	position: absolute;
	top: 4px;
	left: 6px;
	font-size: 18px;
	line-height: 18px;
	cursor: pointer;
}

#shopping_cart_holder .close_btn:hover {
	color: #dbdbdb;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#shopping_cart_holder {
		width: 100%;
		min-width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px){
	#shopping_cart_holder {
		width: 75%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#shopping_cart_holder {
		width: 40%;
	}
}

/*
############
## Footer ##
############
*/
#footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2;
}



























/*
######################
## Browser Defaults ##
######################
*/
body, h1, h2, h3, h4, h5, h6 {
	font-size: 14px;
	font-family: NahidFont;
}

body, ul, li, a {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.table td.fit,
.table th.fit {
	white-space: nowrap;
	width: 1%;
}

/*
##############################
## Comparison Search Module ##
##############################
*/
.comparison_search_module .found_list {
	position: relative;
}

.comparison_search_module .found_list select {
	position: absolute;
	width: 100%;
	right: 0;
	z-index: 1000;
}

/*
####################
## Loading Holder ##
####################
*/
.loading_holder {
	display: none;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #404040;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	top: 0px;
	right: 0px;
}

.loading_holder .content {
	top: 40%;
	position: relative;
}

.loading_holder .loader_spin {
	margin: 0px auto;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 30px;
	height: 30px;
	-webkit-animation: loading_spin 2s linear infinite;
	animation: loading_spin 2s linear infinite;
}


/*
##############
## Top LOGO ##
##############
*/
#position_1 {
	font-size: 0;
}

#position_1 .logo,
#position_1 .description {
	display: inline-block;
}

#position_1 .logo {
	padding: 4px 0 4px 8px;
}

#position_1 .description {
	width: 70%;
	font-size: 15px;
	vertical-align: middle;
}

#position_1 .description .title {

	font-weight: bold;
	font-size: 34px;
	color: #2b2b2b;
}


#position_1 .description .subtitle {
	font-size: 13px;
	color: #797776;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#position_1 .logo {
		width: 90px;
	}
	#position_1 .description .title {
		font-size: 26px;
	}
	#position_1 .description .subtitle {
		font-size: 11px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px){
	#position_1 .logo {
		width: 30%;
		margin-top: 1rem;
	}
	#position_1 .description .title {
		font-size: 18px;
	}
	#position_1 .description .subtitle {
		font-size: 11px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#position_1 .logo {
		width: 25%;
		margin-top: 0rem;
	}
	#position_1 .description .title {
		font-size: 25px;
	}
	#position_1 .description .subtitle {
		font-size: 14px;
	}
}

#position_1 img {
	width: 100%;
	/*max-height: 150px;*/
}

/** Slide **/
.swiper-slide {
	background-size: cover;
	background-position: center;
}

/** Book Slide **/
.l_slide {
	width: 100%;
	height: 300px; /*این ارتفاع باید متناسب با چیزی که میخوای تنظیم بشه*/
	background-color: #FFFFFF;
}

.m_slide .swiper-slide:hover,
.l_slide .swiper-slide:hover {
	-webkit-box-shadow: inset 0px 0px 12px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 12px -1px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 12px -1px rgba(0,0,0,0.3);
}

.m_slide .swiper-slide,
.l_slide .swiper-slide {
	padding: 0.5rem 0;
	box-sizing: border-box;
}

/**Medium Book Slide **/
.m_slide {
	width: 100%;
	height: 250px; /*این ارتفاع باید متناسب با چیزی که میخوای تنظیم بشه*/
	background-color: #FFFFFF;
}

/**small Book Slide **/
.s_slide {
	width: 100%;
	height: 239px; /*این ارتفاع باید متناسب با چیزی که میخوای تنظیم بشه*/
	background-color: #FFFFFF;
}

/*
######################
## Section 1 Search ##
######################
*/
.simple_search {
	position: relative;
	margin-top: 1rem;
}

.simple_search .found_items_holder {
	display: none;
	width: 100%;
	max-height: 250px;
	background-color: #fff;
	border: 1px solid #b3b3b3;
	text-align: left;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 9999;
	overflow-y: auto;
}

.simple_search .found_items_holder .item a {
	font-size: 0px;/*Solve inline-block problem*/
}

.simple_search .found_items_holder .item .image {
	width: 15%;
	display: inline-block;
}

.simple_search .found_items_holder .item .image img {
	width: 100%;
}

.simple_search .found_items_holder .item .content {
	width: 85%;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	padding: 0.5rem;
}

.simple_search .found_items_holder .item .content:hover {
	background-color: #fbfbfb;
}

.simple_search .found_items_holder .item .content .title {
	color: #484848;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}

.simple_search .found_items_holder .item .content .price {
	color: #474747;
}

#section_1 .simple_search {
	width: 400px;
	float: left;
}

#section_1 .simple_search select{
	padding: 4px 8px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#section_1 .simple_search {
		width: 100%;
	}
	#section_1 .simple_search select{
		height:31px;
	}
}

select:focus, input:focus, button:focus{
	outline: none;
}

#section_1 .simple_search input{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#section_1 .simple_search button{
	font-size: 10px;
	background-color: #009600;
	color: #FFFFFF;
	/*width: 50px;*/
	border-color: #009600;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#section_1 .simple_search button:hover{
	background-color: #007e00!important;
	color: #FFFFFF!important;
}

/*
#################
## Search Page ##
#################
*/
#search_page .search_category {
	padding-right: 16px;
}

#search_page .simple_search_2 {
	margin: 4rem 10rem 1rem 0;
}
#search_page .content{
	text-align: center;
}


/*
######################
## Books thumbnails ##
######################
*/
#position_5 img {
	height: 99%;
	border: solid 1px;
	border-radius: 3px;
	width: 126px;
	box-sizing: border-box;
}

#position_5 .product_holder .image {
	height: 180px;
	overflow: hidden;
}
/*
#position_5 .product_holder .image img {
    overflow: hidden;
}*/

#position_5 .product_holder .title {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 3rem;
	color: #2b2b2b;
}

#position_5 .product_holder .w3-bar i:hover {
	color: #0b0b0b !important;
	background-color: #FFFFFF !important;
}

#position_5 .swiper-button-next,
#position_5 .swiper-button-prev {
	top: 30%;
	width: 27px;
	height: 23px;
	margin-top: -22px;
	background-size: 17px 49px;
}

/*
##############################
## Medium Books thumbnail 1 ##
##############################
*/
#position_6 img,
#position_7 img{
	height: 98%;
	width: 110px;
	border: solid 1px;
	border-radius: 3px;
}

#position_6 .product_holder .title,
#position_7 .product_holder .title {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 3rem;
}
#position_6 .swiper-button-next,
#position_6 .swiper-button-prev,
#position_7 .swiper-button-next,
#position_7 .swiper-button-prev {
	top: 30%;
	width: 27px;
	height: 23px;
	margin-top: -22px;
	background-size: 14px 39px;
}

#position_7 .product_holder .image,
#position_6 .product_holder .image {
	height: 180px;
	overflow: hidden;
}


/*
########################
## Position 5 (Title) ##
########################
*/
.module_html .title_holder {
	font-size: 20px;
	color: #2b2b2b;
	position: relative;
	text-align: center;
}

.module_html .title_holder .title {
	/*background-color: #ffffff;*/
	background-color: #d0d0d0;
	display: inline-block;
	position: relative;
	padding: 0.5rem;
}

.module_html .title_holder hr {
	position: absolute;
	border-top: 2px solid #747474;
	width: 100%;
	margin-top: 22px;
}

/*
کد پایین که کامنت شده،‌ برای نمایش حالت محو شدن به انتهای عنوانهای طولانی بوده است
#position_5 .swiper-container .title {
    position: relative;
}
#position_5 .swiper-container .title:after {
    content: "";
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}*/



/*
##############################
## small Books thumbnail 2 ##
##############################
*/
#position_12 img {
	/*width: 120px;
	margin-top: 5px;
	width: 100%;*/
	height: 100%;
}

#position_12 .product_holder .image {
	height: 120px;
	overflow: hidden;
}

/*#position_12 .swiper-container .title {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 3rem;
}*/

#position_12 .swiper-button-next,
#position_12 .swiper-button-prev {
	top: 30%;
	width: 27px;
	height: 23px;
	margin-top: -22px;
	background-size: 14px 39px;
}

/*
###############
## main_menu ##
###############
*/
#section_2 {
	background-color: #2b2b2b;
}

#position_3 {
	color: #FFFFFF;
}

#position_3 li {
	position: relative;
}

#position_3 a {
	padding: 10px 7px;
	display: block;
}

#position_3 li:hover,
#position_3 li.active{
	background-color: #484848;
}

#position_3 > ul > li {
	list-style: none;
	/*display: inline-block;*/
	margin-bottom: 1px;
}

#position_3 li > ul {
	display: none;
	position: absolute;
	z-index: 1000;
	background-color: #2b2b2b;
	top: 100%;
	right: 0;
	min-width: 100%;
}

#position_3 ul ul ul {
	display: none;
	position: absolute;
	z-index: 1000;
	background-color: #2b2b2b;
	top: 0;
	right: 100%;
	min-width: 100%;
}

#position_3 li:hover > ul {
	display: block;
}

/* Children Icon */
#position_3 li li.has_children > a {
	/*position: relative;*/
	padding-left: 20px;
}

#position_3 li li.has_children > a i {
	position: absolute;
	top: 15px;
	left: 8px;
}


/*
#################
## mobile_menu ##
#################
*/
#position_3_1 {
	color: #fff;
	font-size: 14px;
}

#position_3_1 li:hover,
#position_3_1 li.active{
	background-color: #484848;
}

#section_2 .menu_button.w3-button:hover {
	background-color: #2b2b2b!important;
}

#section_2 .menu_button.w3-button{
	padding-right: 0!important;
}

/*
#position_3_1 .mobile_menu > ul > li {
    list-style: none;
    display: block;
}

#position_3_1 .mobile_menu li > ul {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #2b2b2b;
    top: 100%;
    right: 0;
    min-width: 100%;
}

#position_3_1 .mobile_menu ul ul ul {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #2b2b2b;
    top: 100%;
    right: 0;
    min-width: 100%;
}
*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
	#position_3 {
		font-size: 13px;
	}
}


/*
##############
## Top Menu ##
##############
*/
#position_2 {
	margin-top: 2rem;
}

#position_2 ul li {
	display: inline-block;
	margin-right: 0.5rem;
}

#position_2 a i {
	margin-right: 0.3rem;
}

#position_2 ul li:first-child {
	margin-right: 0rem;
}

#position_2 .login_btn a,
#position_2 .sign_out_btn a,
#position_2 .sign_in_btn a,
#position_2 .profile_btn a {
	color: #FFFFFF;
	padding: 5px 15px;
	border-radius: 5px;
	display: block;
}

#position_2 .login_btn a {
	background-color: #2b2b2b;
	min-width: 95px;
}

#position_2 .sign_out_btn a {
	background-color: #ffc107;
	color: #525151;
}

#position_2 .sign_in_btn a {
	background-color: #ffc107;
	color: #525151;
}

#position_2 .profile_btn a{
	background-color: #2b2b2b;
}



/*
################
## Slide Asli ##
################
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#slide .swiper-container {
		height: 200px; /*این ارتفاع باید متناسب با چیزی که میخوای تنظیم بشه*/
	}
	#slide .title{
		background-color: #2b2b2b;
		font-size: 25px;
		font-weight: bold;
		display: inline-block;
		padding: 0.3rem 1rem 0.4rem;
		border-radius: 0.2rem;
	}

	#slide .subtitle{
		font-size: 14px;
	}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px){
	#slide .swiper-container {
		height: 250px; /*این ارتفاع باید متناسب با چیزی که میخوای تنظیم بشه*/
	}
	#slide .title{
		background-color: #2b2b2b;
		font-size: 27px;
		font-weight: bold;
		display: inline-block;
		padding: 0.3rem 1rem 0.4rem;
		border-radius: 0.2rem;
	}

	#slide .subtitle{
		font-size: 16px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	#slide .swiper-container {
		width: 100%;
		height: 500px; /*این ارتفاع باید متناسب با چیزی که میخوای تنظیم بشه*/
		background-color: #0c5460;
	}

	#slide .title{
		background-color: #2b2b2b;
		font-size: 42px;
		font-weight: bold;
		display: inline-block;
		padding: 0.5rem 1rem 0.7rem;
		border-radius: 0.5rem;
	}

	#slide .subtitle{
		font-size: 19px;
	}
}

#slide .swiper-slide {
	display: table;
}

#slide .content{
	/*background-color: #1b1b1b;*/
	background-color: rgba(0, 0, 0, 0.40);
	/*padding: 0 3rem;
	width: 50%;
	border-radius: 6px;
	margin: 0 auto;
	position: relative;
	height: 50%;
	top: 25%;*/
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

#slide .btn {
	border-radius: 0.4rem;
	background-color: #000;
	color: white;
	padding: 0.3rem 1rem 0.5rem;
	margin: 1rem 0;
	display: inline-block;
}


/*
########################
## Position 5 (Title) ##
########################
*/
/*#position_5 .title{
    font-size: 20px;
    color: #2b2b2b;
    margin-bottom: 0.5rem;
}*/


/*
###############################
## Footer Menu (Position_16) ##
###############################
*/

#position_16_1 .title {
	font-weight: bold;
	margin-bottom: 1rem;
}

#position_16_2 .title {
	font-weight: bold;
	margin-bottom: 1rem;
}

#position_16_3 .title {
	font-weight: bold;
	margin-bottom: 1rem;
}


#position_16_1 {
	margin-bottom: 2rem;
}

#position_16_2 {
	margin-bottom: 2rem;
}

#position_16_3 {
	margin-bottom: 2rem;
}



/*
#############################
## Section_4 (Sokhan Rooz) ##
#############################
*/
#section_4 .border {
	border: dashed 2px #cccccc;
	border-radius: 4px;
	margin-bottom: 1rem;
}

#section_4 .sokhan_title {
	margin-top: 1rem;
	padding-right: 0.3rem;
}
#section_4 .title_description {
	font-weight: bold;
	color: #585858;
}

#section_4 .banner {
	border: dashed 2px #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
}

#section_4 .banner p{
	text-align: center;
	color: #2b2b2b;
}

#section_4 .banner .title {

}

#section_4 .banner .content {

}

/*
#####################
## Single Category ##
#####################
*/

#single_category .content {
	padding-left: 1rem;
}

#single_category .toolbar .toolbar_title {
	margin-top: 0.5rem;
}

#single_category .category_list .image {
	width: 15%;
	float: right;
}

#single_category .category_list .image img {
	width: 100%;
}

#single_category .category_list .title_description {
	font-weight: bold;
	color: #585858;
}

#single_category .category_list .description {
	display: inline-block;
}


#single_category .category_list hr {
	border: 0;
	border-top: 1px solid #d1d1d1;
	margin: 0px 0 0;
}


/*
###############################
## Section_5 (Pardakhte Amn) ##
###############################
*/
#section_5 {
	padding: 2rem 1rem 1rem 1rem;
	background-color: #dddddd;
	margin-bottom: 1rem;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#section_5 div {
		margin-bottom: 1rem;
	}
}



#section_5 i {
	color: #fd961e;
}
#section_5 div {
	color: #020528;
}



/*
##############################
## Section_6 (Pishnahad Ma) ##
##############################
*/
/*#position_11 .content {
	background-color: #fff1e8;
	border-radius: 0.5rem;
	padding-bottom: 3rem;
}

#position_11 .description_holder {
	padding: 3rem 1rem 0 0;
}

#position_11 .description_holder .bottom_bar i:hover {
	color: #0b0b0b !important;
	background-color: #fff1e8 !important;
}

#position_11 .description_holder .picture img {
	width: 100%;
}

#position_11 .description_holder .product_holder .description {
	padding-right: 1rem;
}

#position_11 .description_holder .description .item_title {
	margin-bottom: 0.5rem;
}

#position_11 .description_holder .description .price {
	margin-bottom: 1.5rem;
}


#position_11 .description_holder .read_more {
	margin-left: 1rem;
}
.our_suggestion hr {
	margin: 1rem 1rem 3rem;
	border-top: 1px solid #bdb7bd;
}

#position_11 .swiper-container {
	height: 8rem;
	width: 70%;
}

#position_11 .swiper-container img {
	width: 90%;
	display: block;
	position: relative;
	height: 108px;
}

#position_11 .swiper-button-next,
#position_11 .swiper-button-prev {
	top: 57%;
	width: 27px;
	height: 23px;
	margin-top: -22px;
	background-size: 14px 39px;
}*/


/*
#######################
## Title Tamas Ba Ma ##
#######################
*/
#position_13 .content .description {
	color: #878c8f;
	margin: 1rem 0 3rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#position_13 .content .description {
		margin: 0;
	}
}



/*
######################
## Form Tamas ba ma ##
######################
*/
#section_7 {
	margin-bottom: 50px;
}

#position_14 .textarea {
	height: 8rem;
}

#position_14 {
	padding: 1rem 0 0 0;
}

#position_14 i {
	color: #fd961e;
}

#position_14 .w3-half{
	margin-bottom: 1rem;
}

#position_14 .info {
	margin-bottom: 31px;
	line-height: 2.5;
}

#position_14 .info i{
	margin-left: 10px;
}
#position_14 .submit_btn,
.form_holder.complaint .submit_btn {
	background-color: #007e00;
	padding: 0.3rem 3rem 0.5rem;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	margin-top: 1.4rem;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#position_14 .submit_btn{
		width: 100%;
		padding: 0.5rem 0.5rem;
	}
	#position_14 .info {
		margin-bottom: 20px;
		line-height: 2;
	}
	#section_7 {
		margin-bottom: 15px;
	}
}


/*
#######################
## position_15 (Map) ##
#######################
*/
#position_15 #map_1 {
	/*width:100%;*/
	height:500px;
	padding: 4rem 2rem 4rem 4rem ;
}


/*
##############################
## Section_8 (Bottom Menu) ##
##############################
*/
#section_8 {
	background-color: #2b2b2b;
	padding: 4rem 4rem 0rem;
}

#section_8, #section_8 a {
	color: #FFF;
}

#section_8 > div {
	border-bottom: solid 2px #e4e7ff;
	padding: 0rem 0rem 2rem;
}


/*
##############################
## Section_8 (Enamad Logo) ##
##############################
*/
#section_8 .enamad-logo {
	width: 100%;
}




/*
##############################
## Section_9 (Social Links) ##
##############################
*/
#section_9 {
	background-color: #2b2b2b;
	padding: 0.5rem 4rem 1rem;
}

#section_9 {
	color: #FFF;
}

#section_9 a {
	color: #ffc107;
}

#position_17 ul li {
	display: inline-block;
}

/*
#####################################
## Eslahate W3 baraye zabane Farsi ##
#####################################
*/
.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
	float: right;
}


/*
#################
## Single Page ##
#################
*/
#single_page .title{

}
#single_page .content{
	margin: 2rem 0;
	text-align: justify;
}

#single_page .content hr {
	border-color: #b9b9b9;
}

#single_page .title a {
	float: left;
	text-align: left;
	padding: 0.5rem 0;
}

#single_page .link_mortabet {
	margin-bottom: 1rem;
}

#single_page .s2 {
	width: 50px;
}

#single_page .s1 {
	width: 20px;
	margin-top: 0.2rem;
}


#single_page .tool_bar {
	background-color: #efeeea;
	color: #2b2b2b;

}

#single_page .bottom_link{
	/*background: #f5f5f5;*/
	margin-top: 1rem;
}

#single_page .bottom_link a {
	color: #616161;
}

#single_page .bottom_link> a:first-child {
	font-weight: bold;
	color: #03043a;
}


/*
## Site Map ##
*/

#single_page .site_map .content div{
	margin-bottom: 5px;
	font-weight: bold;
	color: #616161;
}

#single_page .site_map .content ul{
	margin-bottom: 10px;
}

#single_page .site_map .content li{
	font-size: 14px;
	margin-right: 12px;
	color: #040553;
}

#single_page .site_map .content i{
	display: none;
}

#single_page .fields label{
	margin-right: 5px;
}

/*
###################
##Single_product ##
###################
*/

#product_section .bold {
	font-weight: bold;
}
#product_section {
	/*margin: 1rem 0;*/
}

#product_section #info a {
	color: #065cff;
}

#product_section #info span {
	margin-left: 5px;
}

#options_holder .option_holder input[type ="text"]{
	width: 100%;
}

#options_holder .option_holder textarea[type ="textarea"]{
	width: 100%;
}

#options_holder .option_holder {
	position: relative;
}

#options_holder .option_holder .loading_holder .content {
	top: 0px;
}

#options_holder .option_holder.on_loading .loading_holder {
	display: block;
}

#options_holder .option_holder .uploaded_module {
	display: none;
}

#options_holder .option_holder.uploaded .upload_module {
	display: none;
}

#options_holder .option_holder.uploaded .uploaded_module {
	display: block;

}
#options_holder .option_holder.uploaded .uploaded_module button{
	color: white;
	background-color: red;
	border: none;
	padding: 5px 12px;
	font-weight: bold;
}

#options_holder .upload_module button{
	background-color: green;
	color: white;
	height: 29px;
	border: none;
}

#options_holder .uploaded_module {
	background-color: #eee;
	padding: 1rem;
}
#options_holder .uploaded_module .message_holder {
	float: right;
	margin-left: 1rem;
	margin-top: 5px;
}

#options_holder .required_field {
	background-color: #ffe8e8;
	border: solid 1px red;
	padding: 5px 10px;
}


/*
## Product Gallery ##
*/
#product_section .gallery .swiper-container {
	width: 100%;
	/*height: 300px;*/
	margin-left: auto;
	margin-right: auto;
}
#product_section .gallery .swiper-slide {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#product_section .gallery .product-gallery-top {
	height: 300px;
	width: 100%;
}
#product_section .gallery .product-gallery-thumbs {
	height: 100px;
	box-sizing: border-box;
	padding: 10px 0;
}
#product_section .gallery .product-gallery-thumbs .swiper-slide {
	/*width: 20%;
	height: 100%;*/
	opacity: 0.4;
}
#product_section .gallery .product-gallery-thumbs .swiper-slide-active {
	opacity: 1;
}

/*
## Product Header ##
*/
#product_section .header {
	background-color: #e6e6e6;
	padding: 1rem;
	font-size: 12px;
	margin-bottom: 1rem;
}

/*
## Product Header ##
*/
#product_section .rating_holder {
	width: 90px;
	direction: ltr;
}

#product_section .rating_stars .checked {
	color: #fd961e;
}

#product_section .title_holder a{
	margin-left: 1rem;
	color: #747474;
}

#product_section .title_holder a:hover{
	margin-left: 1rem;
	color: #e99808;
}

/*
## Product Content ##
*/
#product_section .description {
	padding-top: 0.7rem;
}

#product_section .description hr {
	margin: 0.7rem 0;
}
#product_section .description {
	text-align: justify;
}

#product_section .special_characteristic {
	margin: 1.8rem 3rem 1.8rem 0;
	font-size: 0.7rem;
	line-height: 1.5rem;
}

#product_section .video_title {
	margin: 0.3rem 2rem 0.5rem 0.3rem;
	font-size: 12px;
}

#product_section .product_video {
	margin-top: 37px;
}

#product_section .video {
	margin: 0.3rem 2rem 1rem 2rem;
	width: 12rem;
}

#product_section .bottom_bar {
	margin: 1rem 0;
}

/*
## Number Incrementer ##
*/

.number_incrementer {
	display: inline-block;
	width: 4rem;
	vertical-align: middle;
	position: relative;
	border-radius: 0.4rem;
	overflow: hidden;
	border: solid 1px #eee;
}

.number_incrementer > div {
	float: left;
}

.number_incrementer .btns {
	width: 30%;
	overflow: hidden;
	position: absolute;
	height: 100%;
}

.number_incrementer .btns .add,
.number_incrementer .btns .minus {
	width: 100%;
	text-align: center;
	float: left;
	color: #FFF;
	height: 50%;
	position: absolute;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
}

.number_incrementer .btns .add {
	background-color: #676767;
}

.number_incrementer .btns .add:hover {
	background-color: #00b100;
}

.number_incrementer .btns .minus {
	clear: both;
	background-color: #676767;
	top: 50%;
}

.number_incrementer .btns .minus:hover {
	background-color: #cc1c1c;
}

.number_incrementer .input_holder {
	width: 70%;
}

#product_section .number_incrementer input {
	width: 100%;
}

.number_incrementer.hidden {
	display: none;
}

/*
###########################################
## سبک خاص مخصوص درخواست keshavarzmedia ##
## START ##################################
###########################################
*/
.number_incrementer .btns {
	width: 100%;
}

.number_incrementer .btns .add, .number_incrementer .btns .minus {
	width: 25%;
	height: 100%;
	line-height: 38px;
}

.number_incrementer .btns .minus {
	top: 0;
	left: 0;
}

.number_incrementer .input_holder {
	width: 50%;
	position: relative;
	left: 25%;
}

#product_section .number_incrementer input {
	padding: 8px 0px;
	text-align: center;
}
/*
###########################################
## سبک خاص مخصوص درخواست keshavarzmedia ##
## END ####################################
###########################################
*/

#product_section .content .cart_btn button{
	border-radius: 0.4rem;
	background-color: green;
	color: white;
}

#product_section .content .cart_btn:hover button{
	background-color: #005d00 !important;
	color: white!important;
}

#product_section .content .wishlist_btn button{
	border-radius: 0.4rem;
	background-color: #e62121;
	color: white;
	border: solid 1px #e62121;
}


#product_section .content .wishlist_btn:hover button{
	background-color: #fff!important;
	color: #e62121!important;
	border: solid 1px #e62121;
}

#product_section .content .comparison_btn a{
	border-radius: 0.4rem;
	background-color: #494be6;
	color: white;
	border: solid 1px #494be6;
}

#product_section .content .comparison_btn:hover a{
	background-color: #0405d3!important;
	color: #fff!important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#product_section .content .comparison_btn a{
		padding: 8px 9px!important;
	}
	#product_section .content .cart_btn button,
	#product_section .content .wishlist_btn button{
		padding: 8px 8px!important;
	}
}

#product_section .content .cart_btn, #product_section .content .wishlist_btn, #product_section .content .comparison_btn {
	display: inline-block;
	vertical-align: middle;
}

#product_section .content .stock {
	/*padding-right: 0.1rem;*/
}

#product_section .info > .content {
	background-color: #f7f6f9;
}

#product_section .stock i {
	color: #e62121;
	margin-top: 0.5rem;
}

#product_section .stock {
	float: left;
}

.tab-title {
	margin-top: 2rem;
	background-color: #f7f7f7;
	/*border: solid 2px #f7f7f7;*/
	border-top: none;
	border-bottom: none;
}

.tab-title .tablink {
	border-style: solid;
	border-width: 1px;
	border-top-width: 2px;
	border-color: transparent;
}

.tab-title .tablink:hover {
	border-top-color: #00a1ff;
}

.tab-title .tablink.active {
	background-color: #ffffff;
	border-top-color: #2b2b2b;
}

.tab {
	padding: 1rem;
	/*border: solid 2px #f7f7f7;*/
	background-color: #fff;
	border-top: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#product_section .comment_form .hide {
		display: none;
	}
}

#product_section .comment_form p {
	margin-bottom: 1rem;
}

#product_section .comment_form .rating_stars a {
	float: right;
}

#product_section .comment_form .rating_stars a:hover,
#product_section .comment_form .rating_stars .hover {
	color: #fd961e;
}


/*
##########
##Login ##
##########
*/
/*#login_register .login{
    padding: 3rem 7rem 3rem 2.5rem ;
}

#login_register .register{
    padding: 3rem 2.5rem 3rem 7rem ;
}*/

#login_register {
	padding: 3rem 0;
}

#login_register hr{
	margin: 0.7rem 0;
}


#register_form .birthday_input{
	padding: 0px;
}

#login_register .w3-container{
	/*background-color: #f1fbf9;*/
	background-color: #FFFFFF;
}
#login_register header{
	background-color: #FFC105!important;
}

#login_register .content{
	font-size: 13px;
	line-height: 1.7rem;
	text-align: justify;
}

#login_register .forgot_password{
	margin-bottom: 2.17rem;
}

/*
##########################
## New Account Register ##
##########################
*/
#login_register .register {
	position: relative;
}

#login_register .loader_spin {
	margin: 0px auto;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 30px;
	height: 30px;
	-webkit-animation: loading_spin 2s linear infinite; /* Safari */
	animation: loading_spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes loading_spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes loading_spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#login_register .loading {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 45%;
	background-color: #404040;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
}

#login_register .timer > div {
	text-align: center;
	padding: 1rem;
	margin: 1rem 0;
}

/***** Alert *****/
.alert {
	margin: 1rem 0 1rem;
	padding: 2rem 1rem;
	color: white;
}

.closebtn {
	color: #000000;
	font-weight: bold;
	float: left;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
	margin-left: 3px;
}

.closebtn:hover {
	color: #cf030d;
}

.icon_bar a {
	display: block;
	text-align: center;
	padding: 10px;
	transition: all 0.3s ease;
	font-size: 25px;
}
.icon_bar {
	width: 40px;
}

/*
###################
## Register Form ##
###################
*/

#register_form .birthday_input{
	padding: 0px;
}

#register_form input ,
#register_form textarea{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

#register_form select{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

#register_form button{
	width: 6rem;
}

#register_form div > p{
	margin-top: 0px;
	font-size: 12px;
}

#register_form .w3-quarter{
	padding-right: 0px;
}

#login_register .edit{
	background-color: #e4e4e4;
}

#login_register .resend{
	background-color: #e4e4e4;
}



/*
##################
## Address Form ##
##################
*/
#address_form input ,
#address_form textarea{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

#address_form select{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
/*
#address_form button{
    width: 6rem;
}*/

/*
#############
## Profile ##
#############
*/
#profile {
	/*margin: 1rem 0;*/
}

#profile .info i{
	margin: 1rem 0 1rem 1rem;
	color: #ffc107;
	width: 19px;
}

#profile .navar {
	background-color: #404040;
	margin: 1rem 0;
}

#profile .fa-edit {
	color: #FFFFFF;
}

#profile #address div > i{
	color: #ffc107;
}

#profile .files .w3-button {
	color: #fff!important;
	background-color: #2b2b2b!important;
}

#profile .files .w3-button:hover {
	color: #fff!important;
	background-color: #616161 !important;
}
#files .files_table td,
#files .files_table th {
	text-align: right;
}

#profile .address_holder i{
	width: 10px;
}


/*
###############
## Accordion ##
###############
*/
#profile .accordion_holder .content {
	overflow: hidden;
	height: 0px;
}

#profile .accordion_item {
	margin-bottom: 1px;
}

/*
################
## Order List ##
################
*/
#profile #orders .order_table th,
#profile #orders .order_table td {
	text-align: right;
	vertical-align: middle;
}


#profile #orders .order_item .cancel_btn,
#profile #orders .order_item .canceled_btn {
	margin: 0.3rem;
	padding-top: 4px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

#profile #orders .cancel_order .order_details .content {
	height: auto !important;
}

#profile #orders .order_item.canceled .cancel_btn {
	display: none;
}

#profile #orders .order_item.canceled .canceled_btn {
	display: block!important;
}

/*
###################
## Modal (PopUp) ##
###################
*/
.w3-modal .modal_header {
	overflow: hidden;
}

.w3-modal .modal_title {
	margin: 0.5rem 1rem;
}

.w3-modal .modal_content a {
	color: #1E90FF;
}

/*
##############
## WISHLIST ##
##############
*/
#wishlist .favorite_item img {
	width: 120px;
	margin-top: 1rem;
}

#wishlist .favorite_item {
	width: 250px;
}

/*
##########
## Cart ##
##########
*/
#cart .btn{
	margin-right: 0.5rem;
	margin-top: 0.5rem;
}

#cart #order_list .w3-display-topleft {
	position: absolute;
	left: 4px;
	top: 4px;
}

#cart #order_list td {
	vertical-align: middle;
}

#cart #order_list td > a {
	display: block;
}

#cart #order_list .image {
	display: inline-block;
}

#cart #order_list .image img {
	width: 120px;
}

#cart #order_list .description {
	display: inline-block;
}


/*
################
## Cart Table ##
################
*/
.cart_table .product_holder.refreshing .unit_price,
.cart_table .product_holder.refreshing .discount,
.cart_table .product_holder.refreshing .final_item_price,
.cart_table.refreshing .total_sum {
	background-color: #f5f5f5;
	transition: all 0.5s;
}
.cart_table td,
.cart_table th {
	text-align: right;
}

.cart_table .description_cart {
	width: 40%;
	min-width: 15rem;
}


.cart_table .fa-pen-square {
	font-size: 26px;
}

.cart_table .fa-window-close {
	font-size: 23px;
}

/*
###################
## Cart Progress ##
###################
*/

#cart_progress .description_cart {
	width: 40%;
	min-width: 15rem;
}

#cart_progress .order_table td,
#cart_progress .order_table th {
	text-align: right;
	vertical-align: middle;
}

#cart_progress .order_table .image img,
#orders .order_table .image img {
	width: 120px;
}

#cart_progress #checkout .description{
	font-size: 14px;
	text-align: justify;
}

#cacart_progressrt #payment .payment{
	display: inline-block;
}

#cart_progress .accordion{
	background-color: #484848;
	color: #FFFFFF;
}

#cart_progress .tab_content {
	padding: 1rem;
	/*background-color: #fbfbfb;*/
	background-color: #ffffff;
	position: relative;
}

#cart_progress .remember_me{
	vertical-align: text-top;
}
#cart_progress .remember_me_checkbox{
	margin-top: 5px;
}

#cart_progress .btn{
	margin-right: 0.5rem;
	margin-top: 0.5rem;
}

#cart_progress #account_information .margin-bottom {
	margin-bottom: 0.5rem;
}
#cart_progress .birthday select{
	padding: 8px 4px;
}
#cart_progress .cart_details i,
#cart_progress .address_item i {
	width: 20px;
}

/*
##############################
## Finishing Message (Cart) ##
##############################
*/

#finishing_message .message {
	background-color: #f0f0f0;
	margin: 2rem;
}

/*
############################################################
## Shopping Cart Holder (Shooping Cart Icon and DropDown) ##
############################################################
*/
#shopping_cart {
	position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#shopping_cart .shopping_cart_items_holder .decision_btns a{
		width: 100%;
		margin-bottom: 5px;
		margin-right: 5px;
		float: left;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
	#shopping_cart .shopping_cart_items_holder .decision_btns a{
		width: 100%;
		margin-bottom: 5px;
		margin-right: 5px;
		float: left;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#shopping_cart .shopping_cart_items_holder .decision_btns a{
		width: 45%;
		margin-bottom: 5px;
		margin-right: 5px;
		float: left;
	}
}

#shopping_cart i{
	color: #ffc107;
	font-size: 20px;
	margin-right: 5px;
}

#shopping_cart .fa-cart-arrow-down{
	float: left;
}

#shopping_cart .shopping_cart_btn {
	display: inline-block;
	/*background-color: #474747;*/
	background-color: #484848;
	font-size: 14px;
	padding: 10px 7px;
	cursor: pointer;
	color: #fff;
	width: 100%;
}

#shopping_cart .shopping_cart_btn .w3-btn, .w3-button {
	padding: 8px 14px!important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#shopping_cart i{
		font-size: 14px;
	}
	#shopping_cart .shopping_cart_btn {
		font-size: 12px;
	}
	#shopping_cart .shopping_cart_items_holder{
		/*width:296px;*/
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
	#shopping_cart i{
		font-size: 14px;
	}
	#shopping_cart .shopping_cart_btn {
		font-size: 12px;
	}
	#shopping_cart .shopping_cart_items_holder{
		/*width:296px;*/
		width: 100%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#shopping_cart i{
		font-size: 14px;
	}

	#shopping_cart .shopping_cart_btn {
		font-size: 12px;
	}
	#shopping_cart .shopping_cart_items_holder{
		/*width:400px;*/
		width: 100%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#shopping_cart i{
		font-size: 20px;
	}
	#shopping_cart .shopping_cart_btn {
		font-size: 14px;
	}
}

#shopping_cart.open .shopping_cart_btn,
#shopping_cart .shopping_cart_btn:hover{
	background-color: #484848;
}

#shopping_cart .shopping_cart_items_holder {
	/*display: none;*/
	padding: 0.5rem;
	position: absolute;
	/* top: 100%; */
	background-color: white;
	z-index: 1001;
	/* height: 186%; */
	left: 0;
	border: solid 1px #969696;
	border-top: solid 4px #484848;
	margin-top: 4px;
}

#shopping_cart.open .shopping_cart_items_holder {
	display: block;
}

#shopping_cart .shopping_cart_items_holder:before {
	/*content: "";
	height: 1px;
	width: 1px;
	border-style: solid;
	border-bottom: 10px solid #484848;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: transparent;
	position: absolute;
	top: -10px;
	left: 50px;*/
}

#shopping_cart .shopping_cart_items_holder .w3-button.w3-purple {
	background-color: #484848!important;
}

#shopping_cart .shopping_cart_items_holder .w3-button.w3-purple:hover {
	background-color: #727272 !important;
}

#shopping_cart .items {
	width: 100%;
	font-size: 14px;
}

#shopping_cart .calculation {
	color: #747474;
	border-top: solid 1px #747474;
	border-bottom: solid 1px #747474;
	padding: 0.5rem;
	margin: 0.5rem 0;
}

#shopping_cart thead td {
	padding: 0px 5px;
}

#shopping_cart thead td.remove_btn,
#shopping_cart thead td.count,
#shopping_cart thead td.price{
	width: 1px;
	white-space: nowrap;
}

#shopping_cart td.count{
	text-align: center;
}

#shopping_cart tbody td.price{
	text-align: left;
	direction: ltr;
}

#shopping_cart tbody .remove_btn {
	text-align: center;
	vertical-align: middle;
	color: #a70000;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	min-width: 1px;
}

#shopping_cart tbody .remove_btn:hover {
	font-size: 28px;
}

#shopping_cart tbody .photo img {
	max-width: 50px;
	max-height: 50px;
}

/*
##########################################
## ADD to Cart / ADD to Favorite Holder ##
##########################################
*/
div.added_to_cart_popup_holder {
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 1001;
	max-width: 50%;
	min-width: 20%;
}

div.added_to_cart_popup_holder .popup_item {
	padding: 1rem;
	background-color: #616161;
	border-radius: 0.5rem;
	float: left;
	clear: both;
	margin: 0px 0px 10px 10px;
	border: solid 1px #000000;
	transition: all 0.5s ease;
}

div.added_to_cart_popup_holder .popup_item .close {
	background-color: #cc0000;
	display: block;
	float: right;
	width: 20px;
	text-align: center;
	color: #fff;
	margin: 0 0 0 5px;
	cursor: pointer;
}

div.added_to_cart_popup_holder .popup_item .content {
	color: #ffffff;
}

div.added_to_cart_popup_holder a.product {
	color: #00d05e;
}

div.added_to_cart_popup_holder a.product:hover {
	color: #00d05e;
}

div.added_to_cart_popup_holder a.cart {
	color: #00abff;
}

div.added_to_cart_popup_holder a.cart:hover {
	color: #00abff;
}

/*
#############################
## Single Product Category ##
#############################
*/

#single_product_category .product_holder .image img {
	min-height: 150px;
	max-height: 150px;
	margin-top: 1rem;
}

#single_product_category .toolbar select {
	background-color: #d0d0d0;
	border: solid 1px #9a9a9a!important;
}

#single_product_category .product_holder .image img {
	overflow: hidden;
}

#single_product_category .pro_card{
	display: inline-block;
	margin: 1rem 0;
	height: 270px;
}

#single_product_category .pro_card button:hover{
	color: #000000 !important;
	background-color: #ffffff !important;
}

.pagination .w3-button:hover {
	/*color: #000!important;
	background-color: #ffffff !important;*/
}

#single_product_category .border {
	border: solid 1px #9a9a9a;
	/*border-radius: 4px;*/
}

#single_product_category .search_titel {
	margin-top: 5px;
	margin-right: 1rem;
}

#single_product_category .input_search {
	/*width: 95%;*/
	width: 100%;
}

#single_product_category .search_box button[type ="submit"] {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

#single_product_category .search_box .submit button:hover{
	color: #ffffff !important;
	background-color: #ffa20a !important;
}


#single_product_category .toolbar .toolbar_title {
	margin-top: 5px;
}

#single_product_category .product_title {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 3rem;
}

#single_product_category .fit {
	width: fit-content;
	padding: 4px 8px !important;
	display: inline-block;
	margin-bottom: 0.3rem;
}

#single_product_category .fit button {
	border: none;
	background-color: #FFFFFF;
	color: #404040;
}


#single_product_category .fit button:hover{
	background-color: #ebebeb !important;
}

#single_product_category .search_input {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
}

#single_product_category .your_choice {
	margin-bottom: 0.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#single_product_category .module_html {
		padding: 0px;
	}

	#single_product_category .module_html .w3-row-padding {
		padding: 0px;
	}

	#single_product_category .module_html .w3-row-padding .pro_card {
		padding: 0px;
	}

	#single_product_category .module_html .w3-row-padding .pro_card .w3-container {
		padding: 0px 2px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px){

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/*.search_box input, .search_box select, .checkbox_container .checkmark {
	background-color: #d0d0d0;
	border: solid 1px #9a9a9a;
}*/

.checkbox_container {
	display: block;
	position: relative;
	padding-right: 20px;
	/*margin-bottom: 12px;*/
	cursor: pointer;
	/*font-size: 22px;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkbox_container .checkmark {
	position: absolute;
	top: 0;
	right: 0;
	height: 14px;
	width: 14px;
	/*background-color: #eee;*/
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
	background-color: #ccc;

}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
	/*background-color: #484848;*/
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox_container .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
	left: 4px;
	top: 0px;
	width: 5px;
	height: 10px;
	border: solid black;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*
#################
## Form Module ##
#################
*/
.form_holder {
	position: relative;
}

.form_holder.on_loading .loading_holder,
.on_loading .loading_holder {
	display: block;
}

/*
###############
## Show Type ##
###############
*/
.hide_in_raw_show_type {
	display: none!important;
}

/*
#################################
## Free space for side toolbar ##
#################################
 */
#single_product_category,
#product_section,
#single_category,
#single_page,
#cart,
#cart_progress,
#finishing_message,
#address_form,
#cancel_form,
#change_pass,
#comparison,
#confirm_recover,
#login_register,
#profile,
#register_form,
#recover,
#search_page {
	/*background-color: #ffffff;*/
	background-color: #d0d0d0;
	margin-right: 130px;
	padding-top: 16px;
	padding-bottom: 50px;
	min-height: 100vh;
	overflow: hidden;
}

#cart_progress,
#register_form.edit_profile_form,
#address_form.address_form {
	padding-right: 16px;
	padding-left: 16px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	#single_product_category,
	#product_section,
	#single_category,
	#single_page,
	#cart,
	#cart_progress,
	#finishing_message,
	#address_form,
	#cancel_form,
	#change_pass,
	#comparison,
	#confirm_recover,
	#login_register,
	#profile,
	#register_form,
	#recover,
	#search_page {
		margin-right: 50px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px){

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

#product_section.raw {
	margin-right: 0px;
}

#footer.raw {
	display: none;
}


/*#single_product_category .search_input,*/
#single_product_category .search_box input,
#single_product_category .search_box select,
#single_product_category .search_box textarea,
#single_product_category .checkbox_container .checkmark,
#register_form.edit_profile_form input,
#register_form.edit_profile_form select,
#register_form.edit_profile_form textarea,
#address_form.address_form input,
#address_form.address_form select,
#address_form.address_form textarea,
.complaint input,
.complaint select,
.complaint textarea
{
	background-color: #d0d0d0!important;
	border: solid 1px #9a9a9a!important;
}

#single_product_category .search_box input:hover,
#single_product_category .search_box select:hover,
#single_product_category .search_box textarea:hover,
#single_product_category .checkbox_container:hover .checkmark,
#register_form.edit_profile_form input:hover,
#register_form.edit_profile_form select:hover,
#register_form.edit_profile_form textarea:hover,
#address_form.address_form input:hover,
#address_form.address_form select:hover,
#address_form.address_form textarea:hover,
.complaint input:hover,
.complaint select:hover,
.complaint textarea:hover
{
	border: solid 1px #797979 !important;
	outline: none!important;
}

#single_product_category .search_box input:focus,
#single_product_category .search_box textarea:focus,
#register_form.edit_profile_form input:focus,
#register_form.edit_profile_form textarea:focus,
#address_form.address_form input:focus,
#address_form.address_form textarea:focus,
.complaint input:focus,
.complaint textarea:focus
{
	border: solid 1px #797979 !important;
	outline: none!important;
}
